{% extends "freepki/base.html" %}
{% block title %}Plus - Freepki-2{% endblock %}
{% block content %}
<h1>Plus de ressources</h1>
<p>Découvrez des outils complémentaires, plugins, polices, tutoriels et plus encore !</p>

<div class="gallery">
    <div class="item"><img src="{% static 'images/extra1.jpg' %}" alt="Plugin 1"></div>
    <div class="item"><img src="{% static 'images/extra2.jpg' %}" alt="Police 2"></div>
    <div class="item"><img src="{% static 'images/extra3.jpg' %}" alt="Ressource 3"></div>
</div>
{% endblock %}
