{% extends "freepki/base.html" %}
{% block title %}Suite IA - Freepki-2{% endblock %}
{% block content %}
<h1>Suite d’outils IA</h1>
<p>Générez des images, modifiez des visuels, améliorez vos créations grâce à l’intelligence artificielle.</p>

<div class="gallery">
    <div class="item"><img src="{% static 'images/ai1.jpg' %}" alt="Générateur d'images IA"></div>
    <div class="item"><img src="{% static 'images/ai2.jpg' %}" alt="Effets IA"></div>
    <div class="item"><img src="{% static 'images/ai3.jpg' %}" alt="Amélioration IA"></div>
</div>
{% endblock %}
